<table>
  <thead>
    <tr>
      <th>Operator</th>
      <th>Finds tweets…</th>
    </tr>
    <tr></tr>
  </thead>
  <tbody>
    <tr>
      <td>watching now</td>
      <td>containing both “watching” and “now”. This is the default operator.</td>
    </tr>
    <tr>
      <td>“happy hour”</td>
      <td>containing the exact phrase “happy hour”.</td>
    </tr>
    <tr>
      <td>love OR hate</td>
      <td>containing either “love” or “hate” (or both).</td>
    </tr>
    <tr>
      <td>beer -root</td>
      <td>containing “beer” but not “root”.</td>
    </tr>
    <tr>
      <td>#haiku</td>
      <td>containing the hashtag “haiku”.</td>
    </tr>
    <tr>
      <td>from:interior</td>
      <td>sent from Twitter account “interior”.</td>
    </tr>
    <tr>
      <td>list:NASA/astronauts-in-space-now</td>
      <td>sent from a Twitter account in the NASA list astronauts-in-space-now</td>
    </tr>
    <tr>
      <td>to:NASA</td>
      <td>a Tweet authored in reply to Twitter account “NASA”.</td>
    </tr>
    <tr>
      <td>@NASA</td>
      <td>mentioning Twitter account “NASA”.</td>
    </tr>
    <tr>
      <td>politics filter:safe</td>
      <td>containing “politics” with Tweets marked as potentially sensitive removed.</td>
    </tr>
    <tr>
      <td>puppy filter:media</td>
      <td>containing “puppy” and an image or video.</td>
    </tr>
    <tr>
      <td>puppy filter:native_video</td>
      <td>containing “puppy” and an uploaded video, Amplify video, Periscope, or Vine.</td>
    </tr>
    <tr>
      <td>puppy filter:periscope</td>
      <td>containing “puppy” and a Periscope video URL.</td>
    </tr>
    <tr>
      <td>puppy filter:vine</td>
      <td>containing “puppy” and a Vine.</td>
    </tr>
    <tr>
      <td>puppy filter:images</td>
      <td>containing “puppy” and links identified as photos, including third parties such as Instagram.</td>
    </tr>
    <tr>
      <td>puppy filter:twimg</td>
      <td>containing “puppy” and a <code>pic.twitter.com</code> link representing one or more photos.</td>
    </tr>
    <tr>
      <td>hilarious filter:links</td>
      <td>containing “hilarious” and linking to URL.</td>
    </tr>
    <tr>
      <td>superhero since:2015-12-21</td>
      <td>containing “superhero” and sent since date “2015-12-21” (year-month-day).</td>
    </tr>
    <tr>
      <td>puppy until:2015-12-21</td>
      <td>containing “puppy” and sent before the date “2015-12-21”.</td>
    </tr>
    <tr>
      <td>movie -scary :)</td>
      <td>containing “movie”, but not “scary”, and with a positive attitude.</td>
    </tr>
    <tr>
      <td>flight :(</td>
      <td>containing “flight” and with a negative attitude.</td>
    </tr>
    <tr>
      <td>traffic ?</td>
      <td>containing “traffic” and asking a question.</td>
    </tr>
  </tbody>
</table>
