<div class="md-padding">
  <div class="twitterQuerryTitle">
    <h1>Finding tweets</h1>
  </div>

  <div class="twitterQuerry md-padding">
    <div>
      <h4>watching now</h4>
      <p>containing both “watching” and “now”. This is the default operator.</p>
    </div>
    <div>
      <h4>“happy hour”</h4>
      <p>containing the exact phrase “happy hour”.</p>
    </div>
    <div>
      <h4>love OR hate</h4>
      <p>containing either “love” or “hate” (or both).</p>
    </div>
    <div>
      <h4>beer -root</h4>
      <p>containing “beer” but not “root”.</p>
    </div>
    <div>
      <h4>#haiku</h4>
      <p>containing the hashtag “haiku”.</p>
    </div>
    <div>
      <h4>from:interior</h4>
      <p>sent from Twitter account “interior”.</p>
    </div>
    <div>
      <h4>list:NASA/astronauts-in-space-now</h4>
      <p>sent from a Twitter account in the NASA list astronauts-in-space-now</p>
    </div>
    <div>
      <h4>to:NASA</h4>
      <p>a Tweet authored in reply to Twitter account “NASA”.</p>
    </div>
    <div>
      <h4>@NASA</h4>
      <p>mentioning Twitter account “NASA”.</p>
    </div>
    <div>
      <h4>politics filter:safe</h4>
      <p>containing “politics” with Tweets marked as potentially sensitive removed.</p>
    </div>
    <div>
      <h4>puppy filter:media</h4>
      <p>containing “puppy” and an image or video.</p>
    </div>
    <div>
      <h4>puppy filter:native_video</h4>
      <p>containing “puppy” and an uploaded video, Amplify video, Periscope, or Vine.</p>
    </div>
    <div>
      <h4>puppy filter:periscope</h4>
      <p>containing “puppy” and a Periscope video URL.</p>
    </div>
    <div>
      <h4>puppy filter:vine</h4>
      <p>containing “puppy” and a Vine.</p>
    </div>
    <div>
      <h4>puppy filter:images</h4>
      <p>containing “puppy” and links identified as photos, including third parties such as Instagram.</p>
    </div>
    <div>
      <h4>puppy filter:twimg</h4>
      <p>containing “puppy” and a <code>pic.twitter.com</code> link representing one or more photos.</p>
    </div>
    <div>
      <h4>hilarious filter:links</h4>
      <p>containing “hilarious” and linking to URL.</p>
    </div>
    <div>
      <h4>superhero since:2015-12-21</h4>
      <p>containing “superhero” and sent since date “2015-12-21” (year-month-day).</p>
    </div>
    <div>
      <h4>puppy until:2015-12-21</h4>
      <p>containing “puppy” and sent before the date “2015-12-21”.</p>
    </div>
    <div>
      <h4>movie -scary :)</h4>
      <p>containing “movie”, but not “scary”, and with a positive attitude.</p>
    </div>
    <div>
      <h4>flight :(</h4>
      <p>containing “flight” and with a negative attitude.</p>
    </div>
    <div>
      <h4>traffic ?</h4>
      <p>containing “traffic” and asking a question.</p>
    </div>
  </div>
</div>
