<div layout="column" layout-align="center center" layout-padding>
  <md-content>
    <form name="userInput" ng-submit="getTweets({userInput: vm.userInput, selectedItem: vm.selectedItem})">
      <input class="tweetUserInput" type="text" name="userInput" placeholder="Search" ng-model="vm.userInput" ng-change="vm.removeSpace()" ng-trim=false>
    </form>
  </md-content>

  <md-content id="userInputRadio">
    <md-select ng-model="vm.selectedItem" md-on-open="vm.setSelectedItem()" md-on-close="vm.clearInput()" placeholder="Query Types">
      <md-optgroup label="Query Types">
        <md-option ng-value="item" ng-repeat="item in vm.items">{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-content>
</div>
