/*home*/

.tweetContainer {
  height: 100%;
}

.tweetChild {
  width: 100%;
}

/*userInput*/

.tweetUserInput {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 32px;
  width: 100%;
  text-align: center;
}

.tweetUserInputForm {
  height: 67px;
}

#userInputRadio {
  width: 145px;
}

/*error*/

.errorRequired {
  text-align: center;
  color: red;
}
