<md-content class="md-padding">
  <md-fab-speed-dial md-open="vm.close" md-direction="right" class="md-scale">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-primary md-fab-center">
        <i class="material-icons">menu</i>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="home" class="md-fab md-raised md-mini md-fab-center" ui-sref="home">
        <i class="material-icons">home</i>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</md-content>
