/*tweets*/
.tweetsUserInput {
  text-align: center;
}

.tweetDataContainer {
  position: absolute;
  width: 100%;
}

#vertical-container {
  height: 400px;
  width: 100%;
}

.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  min-height: 40px;
}

md-virtual-repeat-container {
  border: solid 1px grey;
}

.md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding: 10px;
}

.sentimentValue {
  width: 90%;
}

/*progress bar*/
.emotion div{
  color: black;
}

.anger div {
  background-color: #F06543;
}

.suprise div {
  background-color: #4CB944;
}

.fear div {
  background-color: #CF8BA9;
}

.joy div {
  background-color: #F5EE9E;
}

.sadness div {
  background-color: #246EB9;
}
